.thumbnail{
text-align: center;
line-height:30px;
padding: 0;
}

.thumbnail li{
  display: inline;
  list-style: none;
}
.thumbnail li a img{
  width: 100px;
}
.clear{
  clear:both;
}

.desoslide-wrapper img{
  width: 100%;
}
